<ion-split-pane contentId="maker-content" [disabled]="!paneEnabled">
  <ion-menu contentId="maker-content" menuId="menu-maker">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Maker Page</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="menu-maker">
          <ion-item
            routerLink="/maker/home"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-label> Maker Home </ion-label>
          </ion-item>
          <ion-item
            routerLink="/maker/maker-child-page-test"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-label> Maker child page test </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="maker-content"></ion-router-outlet>
</ion-split-pane>
