<ion-split-pane contentId="admin-content" [disabled]="!paneEnabled">
  <ion-menu contentId="admin-content" menuId="menu-admin">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Admin Page</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false" menu="menu-admin">
          <ion-item
            routerLink="/admin/home"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-label> Admin Home </ion-label>
          </ion-item>
          <ion-item
            routerLink="/admin/admin-child-page-test"
            routerDirection="root"
            routerLinkActive="active-item"
          >
            <ion-label> Admin child page test </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="admin-content"></ion-router-outlet>
</ion-split-pane>
