<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> HomePage </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button color="primary" routerLink="/media">Go to media page</ion-button>
    <ion-button color="primary" routerLink="/maker">Go to maker page</ion-button>
    <ion-button color="primary" routerLink="/admin">Go to admin page</ion-button>
  </div>


  
</ion-content>
